doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href=require('./styles/style.scss') rel='stylesheet')
        title Personal Portfolio

    body
        header
            .container 
                .mobile-menu-header
                    h1 Protfolio
                    button(type="button" class="hidden menu-btn") ☰
                nav
                    ul
                        li 
                            a(href="#about-me") About
                        li 
                            a(href="#my-work") Work
                        li 
                            a(href="#contact-me") Contact
        main
            section#about-me.scroll-target
                .profile-pic-container
                    img(src=require("assets/images/my-image.jpg") alt="profile picture")
                .intro-container
                    p Hello! I'm Prabhakar Yadav, a web developer having experience in HTML, CSS, JavaScript, TypeScript, React, Webpack, Jest, and SCSS. I'm eager to learn and currently venturing into Node.js, Express.js, and MongoDB for backend development. Let's create amazing projects together!

                    .technical-skills
                        .slider
                            .slide
                                .logo
                                    include assets/svg/react-logo-1.svg
                                    .description REACT
                            .slide
                                .logo
                                    include assets/svg/javascript-logo-2.svg
                                    .description JAVASCRIPT
                            .slide
                                .logo
                                    include assets/svg/webpack-logo-1.svg
                                    .description WEBPACK
                            .slide
                                .logo
                                    include assets/svg/typescript-logo-1.svg
                                    .description TYPESCRIPT
                            .slide
                                .logo
                                    include assets/svg/sass-logo.svg
                                    .description SASS
                            .slide
                                .logo
                                    include assets/svg/jest-logo.svg
                                    .description JEST
                            .slide
                                .logo
                                    include assets/svg/html5-logo-1.svg
                                    .description HTML5
                            .slide
                                .logo
                                    include assets/svg/css3-logo-1.svg
                                    .description CSS3
                            .slide
                                .logo
                                    include assets/svg/git-logo.svg
                                    .description GIT
                            .slide
                                .logo
                                    include assets/svg/github-logo.svg
                                    .description GITHUB
                            .slide
                                .logo
                                    include assets/svg/npm-logo.svg
                                    .description NPM
                            button(type="button" class="btn-nav btn-prev") &lt;
                            button(type="button" class="btn-nav btn-next") &gt;

            section#my-work.scroll-target
                h2 My Works
                .card-container
                    .card
                        .project-thumbnail-container
                            img(src=require("./assets/images/coding.jpg"), alt="project-thumbnadil")
                        .project-title-and-links-container 
                            h3 Lorem Lorem
                            .links-container
                                i icon
                                i icon
                        .project-description
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nemo minima dolores iusto magni, ea modi voluptatem alias. Deleniti aperiam ipsum necessitatibus odit et? Aperiam rem, distinctio inventore in consequatur tenetur sed perferendis vitae!
                    .card
                        .project-thumbnail-container
                            img(src=require("./assets/images/coding.jpg"), alt="project-thumbnadil")
                        .project-title-and-links-container 
                            h3 Lorem Lorem, ipsum dolor sit amet consectetur 
                            .links-container
                                i icon
                                i icon
                        .project-description
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nemo minima dolores iusto magni, ea modi voluptatem alias. Deleniti aperiam ipsum necessitatibus odit et? Aperiam rem, distinctio inventore in consequatur tenetur sed perferendis vitae!

            section#contact-me.scroll-target
                h2 Contacts
                .container 
                    .contact-details 
                        h3 Get in Touch
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero accusamus rerum, facere impedit cupiditate veritatis aperiam veniam perspiciatis reiciendis omnis necessitatibus minima provident a voluptas reprehenderit aliquam quibusdam, culpa atque labore similique. Amet.

                        h3 My Address 
                        .detail-info-container 
                            i icon 
                            span Greater Noida, India 
                        .detail-info-container 
                            i icon 
                            span 9XXXXXXXXX
                        .detail-info-container 
                            i icon 
                            span example@gmail.com
                    form(method="POST")
                        label Name
                            input(type="text" name="name" placeholder="Your Name") 
                        label Email 
                            input(type="email" name="email" placeholder="Your Email")
                        label Message 
                            textarea(name="message" cols="30" rows="10" placeholder="Your Message") 
                        button(type="submit") Send Message


        footer © Prabhakar Yadav
        script(src=require('./index.ts'))
