doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href=require('./styles/style.scss') rel='stylesheet')
        title Personal Portfolio

    body
        header
            .container
                .mobile-menu-header
                    h1 Portfolio
                    .mobile-menu-btn-container(class="hidden")
                        button(type="button" aria-label="Toggle Theme" class="toggle-dark-mode-mobile")
                            .icon
                        button(type="button" class="hidden menu-btn") ☰
                nav
                    ul
                        li
                            a(href="#about-me") About
                        li
                            a(href="#my-work") Projects
                        li
                            a(href="#contact-me") Contact
                        li
                            button(type="button" aria-label="Toggle Theme" class="toggle-dark-mode")
                                .icon
        main
            section#about-me.scroll-target
                .container
                    .profile-pic-container
                        img(src=require("assets/images/my-image.jpg") alt="profile picture")
                        .contact-links
                            a(href="https://github.com/karprabha" target="_blank")
                                .icon
                                    include assets/svg/github-logo-2.svg
                            a(href="https://www.linkedin.com/in/karprabha/" target="_blank")
                                .icon
                                    include assets/svg/linkedin-logo-2.svg
                            a(href="https://twitter.com/karprabha_" target="_blank")
                                .icon
                                    include assets/svg/twitter-logo.svg
                    .intro-container
                        p
                            | Hello! I'm
                            span(class="my-name")  Prabhakar Yadav
                            | , a software engineer, dedicated to developing high-quality software solutions that enhance user experiences with precision and finesse.

                        h4(class="skill-heading") Technical Skills
                        .technical-skills
                            .slider
                                .slide
                                    .logo
                                        include assets/svg/docker-logo-1.svg
                                        .description DOCKER
                                .slide
                                    .logo
                                        include assets/svg/graphql-logo-1.svg
                                        .description GRAPH-QL
                                .slide
                                    .logo
                                        include assets/svg/nginx-logo-1.svg
                                        .description NGINX
                                .slide
                                    .logo
                                        include assets/svg/postgresql-logo-2.svg
                                        .description POSTGRESQL
                                .slide
                                    .logo
                                        include assets/svg/nextjs-logo-1.svg
                                        .description NEXT-JS
                                .slide
                                    .logo
                                        include assets/svg/unity-logo-1.svg
                                        .description UNITY
                                .slide
                                    .logo
                                        include assets/svg/cpp-logo-1.svg
                                        .description C++
                                .slide
                                    .logo
                                        include assets/svg/mongoDB-logo-1.svg
                                        .description MONGO-DB
                                .slide
                                    .logo
                                        include assets/svg/expressjs-logo-1.svg
                                        .description EXPRESS
                                .slide
                                    .logo
                                        include assets/svg/react-logo-1.svg
                                        .description REACT
                                .slide
                                    .logo
                                        include assets/svg/nodejs-logo-1.svg
                                        .description NODE
                                .slide
                                    .logo
                                        include assets/svg/typescript-logo-1.svg
                                        .description TYPESCRIPT
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/javascript-logo-2.svg
                                //-         .description JAVASCRIPT
                                .slide
                                    .logo
                                        include assets/svg/webpack-logo-1.svg
                                        .description WEBPACK
                                .slide
                                    .logo
                                        include assets/svg/tailwind-logo-1.svg
                                        .description TAILWINDCSS
                                .slide
                                    .logo
                                        include assets/svg/sass-logo.svg
                                        .description SASS
                                .slide
                                    .logo
                                        include assets/svg/bootstrap-logo.svg
                                        .description BOOTSTRAP
                                .slide
                                    .logo
                                        include assets/svg/jest-logo.svg
                                        .description JEST
                                .slide
                                    .logo
                                        include assets/svg/cypress-logo-1.svg
                                        .description CYPRESS
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/html5-logo-1.svg
                                //-         .description HTML5
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/css3-logo-1.svg
                                //-         .description CSS3
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/git-logo.svg
                                //-         .description GIT
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/github-logo-1.svg
                                //-         .description GITHUB
                                //- .slide
                                //-     .logo
                                //-         include assets/svg/npm-logo.svg
                                //-         .description NPM
                                button(type="button" class="btn-nav btn-prev") &lt;
                                button(type="button" class="btn-nav btn-next") &gt;

            section#my-work.scroll-target
                .container
                    h2(class="section-heading") My Projects
                    .card-container
                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/localfluence.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 LocalFluence - Connecting Businesses with Influencers
                                .links-container
                                    a(href="https://github.com/karprabha/localFluence" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://localfluence.azurewebsites.net/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |LocalFluence is User-friendly platform for businesses and influencers. Facilitates finding local influencers, tracking campaigns, and enabling influencers to monetize their reach.
                            .project-dependencies
                                a(href="https://www.docker.com/" target="_blank" class="tag") Docker
                                a(href="https://graphql.org/" target="_blank" class="tag") GraphQL
                                a(href="https://nginx.org/en/" target="_blank" class="tag") NginX
                                a(href="https://www.postgresql.org/" target="_blank" class="tag") PostgreSQL
                                a(href="https://nextjs.org/" target="_blank" class="tag") NextJs 13
                                a(href="https://nodejs.dev/en/" target="_blank" class="tag") Node.js
                                a(href="https://expressjs.com" target="_blank" class="tag") Express.js
                                a(href="https://jwt.io/" target="_blank" class="tag") JWT
                                a(href="https://www.typescriptlang.org/" target="_blank" class="tag") Typescript
                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/blog-api.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 CodeGeekCentral - Your Ultimate Blogging Platform
                                .links-container
                                    a(href="https://github.com/karprabha/blog-api" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://codegeekcentral.vercel.app/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |CodeGeekCentral is a JAMstack-powered platform, empowers users to share their thoughts, explore exciting content, and engage with the community. Whether you're a seasoned writer or an avid reader, CodeGeekCentral is your go-to destination for all things blogs.
                            .project-dependencies
                                a(href="https://nextjs.org/" target="_blank" class="tag") NextJs 13
                                a(href="https://react.dev" target="_blank" class="tag") React
                                a(href="https://nodejs.dev/en/" target="_blank" class="tag") Node.js
                                a(href="https://expressjs.com" target="_blank" class="tag") Express.js
                                a(href="https://www.mongodb.com" target="_blank" class="tag") MongoDB
                                a(href="https://vitejs.dev" target="_blank" class="tag") Vite
                                a(href="https://jwt.io/" target="_blank" class="tag") JWT
                                a(href="https://reactrouter.com/en/main" target="_blank" class="tag") React-Router
                                a(href="https://www.typescriptlang.org/" target="_blank" class="tag") Typescript

                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/crafthaven.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 CraftHaven - Your Online Shopping Destination
                                .links-container
                                    a(href="https://github.com/karprabha/shopping-cart" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://crafthaven.netlify.app/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |CraftHaven is your one-stop online shopping destination, offering a wide range of high-quality products from various categories. From fashion and electronics to home decor and more, we have something for everyone.
                            .project-dependencies
                                a(href="https://vitejs.dev" target="_blank" class="tag") Vite
                                a(href="https://react.dev" target="_blank" class="tag") React
                                a(href="https://reactrouter.com/en/main" target="_blank" class="tag") React-Router
                                a(href="https://www.typescriptlang.org/" target="_blank" class="tag") Typescript
                                a(href="https://sass-lang.com/" target="_blank" class="tag") SASS
                                a(href="https://vitest.dev/" target="_blank" class="tag") Vitest
                                a(href="https://testing-library.com/" target="_blank" class="tag") React Testing Library
                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/memory-game.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 Pokemon Memory Game
                                .links-container
                                    a(href="https://github.com/karprabha/memory-card" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://pokemon-memorycard-game.netlify.app/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |Challenge your memory with the Pokemon Memory Game, a fun and interactive web-based game built using React. Flip over the cards, don't click on the same card twice and test your memory skills. The game features multiple levels, a scoring system, and a modal to show your progress.
                            .project-dependencies
                                a(href="https://vitejs.dev" target="_blank" class="tag") Vite
                                a(href="https://react.dev" target="_blank" class="tag") React
                                a(href="https://www.typescriptlang.org/" target="_blank" class="tag") Typescript
                                a(href="https://sass-lang.com/" target="_blank" class="tag") SASS
                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/mini-messageboard.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 Mini Message Board - A Simple Messaging App
                                .links-container
                                    a(href="https://github.com/karprabha/mini-message-board" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://mini-message-board-6fmb.onrender.com/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |Mini Message Board is a lightweight and easy-to-use messaging application that allows users to post and view messages. Whether you want to leave a quick note or have a conversation, our app makes it simple and straightforward.
                            .project-dependencies
                                a(href="https://nodejs.dev/en/" target="_blank" class="tag") Node.js
                                a(href="https://expressjs.com" target="_blank" class="tag") Express.js
                                a(href="https://www.mongodb.com" target="_blank" class="tag") MongoDB
                                a(href="https://pugjs.org/api/getting-started.html" target="_blank" class="tag") Pug
                                a(href="https://sass-lang.com/" target="_blank" class="tag") SASS
                        .card
                            .project-thumbnail-container
                                img(src=require("./assets/images/my-work-thumbnail/sql-query-app.png"), alt="project-thumbnail")
                            .project-title-and-links-container
                                h3 SQL Query App
                                .links-container
                                    a(href="https://github.com/karprabha/sql-query-app" target="_blank")
                                        .icon
                                            include assets/svg/github-logo-2.svg
                                    a(href="https://transcendent-malabi-550033.netlify.app/" target="_blank")
                                        .icon
                                            include assets/svg/open-link-icon.svg
                            .project-description
                                |SQL Query App is a user-friendly web-based application that enables users to input SQL queries and view the query results displayed in a convenient table format
                            .project-dependencies
                                a(href="https://vitejs.dev" target="_blank" class="tag") Vite
                                a(href="https://react.dev" target="_blank" class="tag") React
                                a(href="https://reactrouter.com/en/main" target="_blank" class="tag") React-Router
                                a(href="https://www.npmjs.com/package/react-window" target="_blank" class="tag") React-Window
                                a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="tag") Javascript
                                a(href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="tag") CSS

            section#contact-me.scroll-target
                .container
                    h2(class="section-heading") Contacts
                    .contacts-container
                        form(method="POST")
                            label Name
                                input(type="text" name="name" placeholder="Your Name")
                            label Email
                                input(type="email" name="email" placeholder="Your Email")
                            label Message
                                textarea(name="message" cols="30" rows="10" placeholder="Your Message")
                            button(type="submit") Send Message
                        .contact-details
                            h3 Get in Touch
                            p I'm thrilled to connect and collaborate with fellow enthusiasts, clients, and like-minded individuals. If you have any questions about my work, want to discuss potential projects, or simply want to say hello, don't hesitate to reach out! I'm always eager to engage in exciting opportunities and explore new horizons in web development.

                            .address-section
                                h3 My Address
                                .detail-info-container
                                    .icon
                                        include assets/svg/map-marker-icon.svg
                                    span Greater Noida, India
                                .detail-info-container
                                    .icon
                                        include assets/svg/email-icon.svg
                                    span developer.prabhakaryadav@gmail.com

                    .contact-links
                        a(href="https://github.com/karprabha" target="_blank")
                            .icon
                                include assets/svg/github-logo-2.svg
                        a(href="https://www.linkedin.com/in/karprabha/" target="_blank")
                            .icon
                                include assets/svg/linkedin-logo-2.svg
                        a(href="https://twitter.com/karprabha_" target="_blank")
                            .icon
                                include assets/svg/twitter-logo.svg


        footer © Prabhakar Yadav
        script(src=require('./index.ts'))
